.name{
    font: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.hobbies{
    font-size: 50px;
    font-style: inherit;
    font-weight: 50;
}.body{
    background-color: lightblue;
}
.book{
    font-size: 80px;
}
.padding{
    /* padding-top: 100px;
    padding-left: 100px; */
    padding: 50px 10px 20px 30px";
}
.colour{
    background-color: rgb(145, 237, 253);
}
.ow{
    color: rgb(0, 0, 0);
}
.para{
    width: 600px;
}
.facts{
    background-color: white;
}
.hr{
    width: 400px;
}
.sci{
    background-color: bisque;
}
.button {
  border: 2px solid black;
  background-color: white;
  border-color: rgb(255, 187, 199);
  border-radius: 40%;
}
.big{
    font-size: 20px;
}
.col{
    color: blue;
}